pipeline/pl_azsql_sf_inc_load.json
{
	"name": "pl_azsql_sf_inc_load",
	"properties": {
		"activities": [
			{
				"name": "max_order_ts_lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"query": "select to_varchar(last_processed_order_ts, 'YYYY-MM-DD HH24:MI:SS.FF3') as LAST_PROCESSED_ORDER_TS\nfrom sample_db.raw.metadata\nwhere tbl_name = 'sales_new';",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						},
						"treatDecimalAsString": false
					},
					"dataset": {
						"referenceName": "ds_sf_metadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "set_var_last_pr_ord_ts",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "max_order_ts_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "last_processed_order_ts",
					"value": {
						"value": "@activity('max_order_ts_lookup').output.firstRow.LAST_PROCESSED_ORDER_TS",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"last_processed_order_ts": {
				"type": "String"
			}
		},
		"annotations": []
	}
}