pipeline/pl_lookup_foreach_to_adls.json
{
	"name": "pl_lookup_foreach_to_adls",
	"properties": {
		"activities": [
			{
				"name": "Lookup_sql_tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select table_schema, table_name\nfrom information_schema.tables\nwhere table_schema = 'dbo' and table_type = 'BASE TABLE';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_emp_new_tbl",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_tbl_from_lookup",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_sql_tables",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_sql_tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy_to_adls",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sql_fully_param",
									"type": "DatasetReference",
									"parameters": {
										"table_schema": {
											"value": "@item().value.table_schema",
											"type": "Expression"
										},
										"table_name": {
											"value": "@item().value.table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_foreach_copy_output",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@concat(item().TABLE_NAME, '_', formatDateTime(utcNow(),'yyyyMMdd'), '.csv' )",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}